.DS_Store
.idea/
.vscode/

__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/
env/

build/
dist/
*.egg-info/

output/
tmo_test_results/**/*.png

metrics/metric_results_last400/**/run.log
metrics/metric_results_last400/runner_logs/

*.zip
*.tar
*.tar.gz

